.body {
    margin: 0;
}
.menu {
    background-color: #f0c397;
    width: 260px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu li {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 15px;

}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu ul li:hover a {
    color: white;
    background-color: #333;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 150px;
}
.title{
    padding: 20px;
    color: black;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}

/*!*equipamentos *!*/
/*main{*/
/*    align-items: center;*/
/*    padding: 20px;*/
/*    color: black;*/
/*    !*margin-left: 910px;*!*/
/*    !*text-align: center;*!*/
/*    text-transform: none;*/
/*    position: center;*/
/*}*/

main{
    align-items: center;
    width: 100%;
    margin: 0 350px;
    max-width: 1200px;
}

#equipment-container {
    margin-left: 270px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.equipment-item {
    width: 300px;
    margin: 10px;
}

.equipment-details {
    display: none;
    background-color: white;
    border: 1px solid black;
    margin: 1px;
}

.hidden {
    display: none;
}

#counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    margin-left: 150px;
    padding: 10px;
    font-size: 16px;
}

#counter a.contact {
    display: block;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


/*form {*/
/*    display: none;*/
/*    padding: 10px;*/
/*}*/
form {
    line-height: 4px;
    text-align: center;
    width: 500px;
    margin: 160px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.quantidade{
    margin-top: 10px;
}
.button {
    margin-top: 10px;
    width: 100px;
    background-color: deepskyblue; /* cor de fundo */
    color: white; /* cor do texto */
    border: none; /* remover borda */
    border-radius: 4px; /* arredondar cantos */
    font-size: 16px; /* tamanho da fonte */
    font-weight: bold; /* negrito */
    text-align: center; /* alinhar texto ao centro */
    text-decoration: none; /* remover sublinhado */
    display: inline-block; /* exibir como bloco */
    transition: all 0.3s ease; /* animação de transição */
    cursor: pointer; /* mudar cursor do mouse */
}

.button-request{
    margin-top: 10px;
    width: 100px;
    background-color: yellowgreen; /* cor de fundo */
    color: #f2f2f2; /* cor do texto */
    border: none; /* remover borda */
    border-radius: 4px; /* arredondar cantos */
    font-size: 16px; /* tamanho da fonte */
    font-weight: bold; /* negrito */
    text-align: center; /* alinhar texto ao centro */
    text-decoration: none; /* remover sublinhado */
    display: inline-block; /* exibir como bloco */
    transition: all 0.3s ease; /* animação de transição */
    cursor: pointer; /* mudar cursor do mouse */
}
.button-request:hover{
    background-color: green;
}
.button:hover {
    background-color: blue; /* cor de fundo ao passar o mouse */
}

.equipment-info {
    display: none;
    background-color: #f5f5f5;
    position: fixed;
    /*padding: 20px;*/
}

/* Estilos para o chat */

#chat-conteiner{
    /*display: none;*/
}

.chat-container {
    margin-top: 110px;
    margin-left: 565px;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.chat-history {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.chat-input input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.chat-input button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}



