.body {
    margin: 0;
}
.menu {
    background-color: #f0c397;
    width: 260px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu ul li:hover a {
    color: white;
    background-color: #333;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 100px;
}
.title{
    padding: 20px;
    color: black;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}

/*!*equipamentos *!*/
main{
    align-items: center;
    padding: 20px;
    color: black;
    margin-left: 910px;
    text-align: center;
    text-transform: none;
    position: center;
}

.equipment-details {
    display: none;
}

.equipment-info {
    display: none;
    background-color: #f5f5f5;
    position: fixed;
    /*padding: 20px;*/
}

.equipment-details {
    display: none;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}

.hidden {
    display: none;
}

#counter {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 16px;
}

/*form {*/
/*    display: none;*/
/*    padding: 10px;*/
/*}*/


.button{
   margin-top: 10px;
}

/* estilo do chat */

#chat {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

#messages .message {
    margin-bottom: 10px;
}

#messages .message.sent {
    text-align: right;
}

#messages .message.received {
    text-align: left;
}

#input {
    display: flex;
    padding: 10px;
}

#input input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

#input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    margin: 5px;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

